@import 'reset';

// ********* overlap **************
#app {
  padding: 5px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.price {
  border-top: solid 2px rgba(222, 222, 219, 1.0);
  font-size: 1.5em;
  font-weight: bold;
}

body {
  background-color: rgba(245, 245, 241, 1.0);
  font-family: "Graphik Web","Arial","Helvetica",sans-serif;
}


strong {
  font-weight: bold;
  font-size: 1.1em;
}

.container-html {
  border-bottom: 2px solid rgba(222, 222, 219, 1.0);
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

a {
  text-decoration: none;
}

// ************* header ***************

header {
  overflow: auto;
  border-bottom: 2px solid rgba(222, 222, 219, 1.0);
}

header img {
  width: 75px;
  margin: 20px;
}

header ul {
  float: right;
  margin-top: 20px;
}


header li {
  color: rgba(102, 102, 102, 1.0);
  display: inline-block;
  font-size: .8em;
  padding: 10px;
  border-right: 1px solid rgba(222, 222, 219, 1.0);
}

header li:last-child {
  border-right: none;
}

header li a:hover {
  color: black;
}

h1 {
  font-family: serif;
  color: rgba(245, 100, 0, 1.0);
  text-align: center;
  font-size: 4em;
  margin: 20px 0;
}



// ************prod-list page ********************




.listing {
  margin: 30px auto;
}

.listing li {
  border: 8px solid rgba(228, 243, 217, 1.0);
  border-radius: 5px;
  padding: 5px;
  margin: 15px auto;
  background-color: rgba(251, 251, 249, 1.0);
  width: 95%;
}


body li div {
  padding: 10px;
}

.full-listing-button {
  background-color: rgba(122, 193, 66, 1.0);
  border-top: solid 8px rgba(228, 243, 217, 1.0);
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}



// ************ detail page ***************



#detail-container {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  padding: 3%;
}

#detail-left-column {
  float: left;
  width: 45%;
  margin-bottom: 20px;
}

#detail-right-column {
  border: 8px solid rgba(228, 243, 217, 1.0);
  border-radius: 5px;
  float: right;
  width: 40%;
}

#detail-right-column div {
  padding: 10px 5px;

}

.detail-description {
  border-top: 2px solid rgba(222, 222, 219, 1.0);
  line-height: 1.5em;
  margin-top: 20px;
  padding-top: 20px;
}

.back-link {
  background-color: rgba(122, 193, 66, 1.0);
  border-bottom: solid 8px rgba(228, 243, 217, 1.0);
  color: white;
  display: block;
  width: 98%;
  text-align: center;
}


.goto-link {
  background-color: rgba(122, 193, 66, 1.0);
  border-top: solid 8px rgba(228, 243, 217, 1.0);
  color: white;
  display: block;
  width: 98%;
  text-align: center;
}

// ************ footer *******************

footer {
  color: rgba(159, 159, 158, 1.0);
  padding: 30px;
}

@media (max-width: 500px) {

  header img {
    width: 75px;
    margin: 0px;
  }


  header {
    border-bottom: 2px solid rgba(222, 222, 219, 1.0);
  }


  header ul {
    text-align: center;
    margin-top: 5px;
  }

  header li {
    display: block;
    border-bottom: 1px solid rgba(222, 222, 219, 1.0);
    border-right: none;
  }

  header li:last-child {
    border-bottom: none;
  }

  h1 {
    text-align: left;
  }


}
