@import 'reset';

#app {
  padding: 5px;
}

strong {
  font-weight: bold;
}

header {
  overflow: auto;
  border-bottom: 2px solid rgba(222, 222, 219, 1.0);
}

header img {
  width: 75px;
  margin: 20px;
}

header ul {
  float: right;
  margin-top: 20px;
}


header li {
  color: rgba(102, 102, 102, 1.0);
  display: inline-block;
  font-size: .8em;
  padding: 10px;
  border-right: 1px solid rgba(222, 222, 219, 1.0);
}

header li:last-child {
  border-right: none;
}

header li a:visited {
  text-decoration: none;
}

header li a:hover {
  color: black;
}

h1 {
  font-family: serif;
  color: rgba(245, 100, 0, 1.0);
  text-align: center;
  font-size: 2em;
  margin: 1.5em 0;
}

body {
  background-color: rgba(245, 245, 241, 1.0);
  font-family: "Graphik Web","Arial","Helvetica",sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.listing {
  margin: 30px auto;
}

.listing li {
  border: 10px solid rgba(228, 243, 217, 1.0);
  padding: 5px;
  margin: 15px auto;
  background-color: rgba(251, 251, 249, 1.0);
  width: 95%;
}

body li {
  overflow: auto;
}

body li div {
  padding: 10px;
}

#title {
  font-size: 1.5em;
  font-weight: bold;
}

#price {
  font-size: 1.5em;
  font-weight: bold;
}

button {
  background-color: rgba(122, 193, 66, 1.0);
  // border-top: 10px solid rgba(228, 243, 217, 1.0);
  // border-left: none;
  // border-bottom: 10px solid rgba(228, 243, 217, 1.0);
  // border-right: none;
  color: white;
  font-size: 1.2em;
  padding: 10px;
  width: 100%;
}

#price {
  border-top: solid 2px rgba(222, 222, 219, 1.0);
}

#currency_code {
  border-bottom: solid 2px rgba(222, 222, 219, 1.0);
  font-size: .8em;
}

#hidden-text {
  height: 55px;
  overflow: hidden;
  transition: 2s;
}

.appear {
  height: 500px;
}

#quantity {
  font-size: .8em;
}

#when_made {
  font-size: .8em;
}

#who_made {
  font-size: .8em;

}

#user_id {
  font-size: .8em;

}

@media (max-width: 500px) {

  header img {
    width: 75px;
    margin: 0px;
  }


  header {
    border-bottom: 2px solid rgba(222, 222, 219, 1.0);
  }


  header ul {
    text-align: center;
    margin-top: 5px;
  }

  header li {
    display: block;
    border-bottom: 1px solid rgba(222, 222, 219, 1.0);
    border-right: none;
  }

  header li:last-child {
    border-bottom: none;
  }

  h1 {
    text-align: left;
  }


}
